
<ng-container class="dropdown">

    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select Country
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"   >
        <ng-container *ngFor="let country of countries">                
            <li><a class="dropdown-item" href="#">{{country.name}}</a></li>
        </ng-container>
     </ul>
        </ng-container>
        <button type="button" class="btn btn-primary" (click)= "show()">Primary</button>